body {
    font-family: 'roboto', sans-serif;
    /* background-color: #992d2d; */
    background-color: #725a5ab4;
    margin: 20px;
}

.header {
    background-image: url(../imgs/memory_card_title1.png);
    background-position: center;
    background-repeat: no-repeat;
}

.main {
    padding: 5px;
}

.card {
    /* background-color: burlywood;  */
    padding: 0px;
    font-size: 150%;
}

.card.back {
    background-image: url(../imgs/card_back1.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
}

.boxshadow {
    border: 2px solid #884848;
    border-radius: 10px;
    position: relative;
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
   	margin-bottom: 4px;
}

#rating, #moves, .timer_container, .footer {
    justify-self: stretch;
    line-height: 50px;  
    text-align: center;
    vertical-align: middle;
}

#start_b, #pause_b {
    display: inline-block; 
    line-height: 50px;  
    text-align: center;
    vertical-align: middle;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.3);
}

.modal_c {
    background-color: papayawhip;
    margin: auto;
    padding: 20px;
    border: 2px solid #888;
    width: 50%;
}

#end_game_close,
#pause_close {
    color: #000;
    float: right;
    font-size: 30px;
    font-weight: bold;
}


#end_game_close:hover,
#end_game_close:focus,
#pause_close:hover,
#pause_close.focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}