.container {
    display: grid;
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 70px 50px 1fr 50px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "sidebar main sidebar2"
    "footer footer footer";
}

.box {
    border-radius: 10px;
    padding: 5px;
    font-size: 150%;
}

/*
* Header
*/
.header {
    grid-area: header;
}

/*
* Nav
*/
.nav {
    grid-area: nav;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 110px 200px 150px 80px;
    grid-template-areas:
    "start rating moves timer_container";
    justify-content: center;
}

.start {
    grid-area: start;
}

#start_control {
    background-image: url(../imgs/new_game.png);
}

#pause_control {
    background-image: url(../imgs/pause.png);
}

.game_controls {
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px; 
    height: 50px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color:  rgba(0,0,0,0.2);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;

    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0%;
}

#start_control:hover .tooltiptext {
    visibility: visible;
}

#pause_control:hover .tooltiptext {
    visibility: visible;
}

#rating {
    grid-area: rating;
}

.sell {
    float: left;
    width: 33%;
}

#moves {
    grid-area: moves;
}

.timer_container {
    grid-area: timer_container;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "hour minute sec";
}

/*
* Sidebars
*/
.sidebar {
    grid-area: sidebar;
}

.sidebar2 {
    grid-area: sidebar2;
}

/*
* Main
*/
.main {
    grid-area: main;
}

.board_grid {
    width: 430px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-auto-flow: row;
    margin: auto;
}

/*
* Footer
*/

.footer {
    grid-area: footer;
}

